---
---

@import "{{ site.theme }}";

body { 
    background: #fff;
    color: #222;
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

header {
    text-align: center;
    float: none;
    margin: 50px 0 0;
}

header .avatar {
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  max-width: 150px;
  margin: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

header li {
    display: inline;
    padding: 0 9px;
    margin: 0;
}

header:after,
section:after {
    content: '';
    display: block;
    width: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 0;
}
